/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #00589b; // #385170;
$presentation-title-slide-text-align: "left";
$body-bg: #ffffff;
$body-color: #222;
$link-color: #1e549f;


@mixin customTextStyle($color) {
  color: $color;
}

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .box1 {
  border-left: 3px solid #5B888C;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #D9E3E4;
}

.reveal .slide .box2 {
  border-left: 3px solid #FFD166;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #FFEDC2;
}

.reveal .slide .box3 {
  border-left: 3px solid #003559;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}

.fg1 {
  @include customTextStyle(#e64173);
}

.bg1 {
  background-color: #e64173; /* Background color */
  color: black; /* Text color */
  padding: 0 5px; /* Optional: Add padding for better visibility */
  display: inline; /* Make it inline to apply only to text */
}

.bg2 {
  background-color: #399ba3; /* Background color */
  color: black; /* Text color */
  padding: 0 5px; /* Optional: Add padding for better visibility */
  display: inline; /* Make it inline to apply only to text */
}

.bg3 {
  background-color: #f4c430; /* Background color: a sandy gold */
  color: black; /* Text color */
  padding: 0 5px; /* Optional: Add padding for better visibility */
  display: inline; /* Make it inline to apply only to text */
}

.bg4 {
  background-color: #a7c7e7; /* Background color: light blue */
  color: black; /* Text color */
  padding: 0 5px; /* Optional: Add padding for better visibility */
  display: inline; /* Make it inline to apply only to text */
}